<aside id="sidebar" class="w-64 bg-white shadow-lg h-screen fixed top-0 left-0 transform transition-transform duration-300 ease-in-out z-30 -translate-x-full md:translate-x-0">
    <div class="p-5 border-b border-gray-200 flex items-center space-x-3">
         <div class="w-10 h-10 rounded-lg bg-purple-600 flex items-center justify-center">
            <svg class="w-6 h-6 text-white" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor">
                <path stroke-linecap="round" stroke-linejoin="round" d="M12 6.042A8.967 8.967 0 006 3.75c-1.052 0-2.062.18-3 .512v14.25A8.987 8.987 0 016 18c2.305 0 4.408.867 6 2.292m0-14.25a8.966 8.966 0 016-2.292c1.052 0 2.062.18 3 .512v14.25A8.987 8.987 0 0018 18a8.967 8.967 0 00-6 2.292m0-14.25v14.25" />
            </svg>
         </div>
         <div>
            <h2 class="text-lg font-bold text-gray-800">마비노기</h2>
            <p class="text-xs text-gray-500">제작 계산기</p>
         </div>
    </div>
    <nav class="mt-4">
        <ul>
            <li><a href="#" class="sidebar-link flex items-center py-3 px-5 text-gray-600 hover:bg-gray-100 transition-colors">
                <svg class="w-6 h-6 mr-3" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor"><path stroke-linecap="round" stroke-linejoin="round" d="M21 7.5l-9-5.25L3 7.5m18 0l-9 5.25m9-5.25v9l-9 5.25M3 7.5l9 5.25M3 7.5v9l9 5.25m0-9v9" /></svg>
                아이템
            </a></li>
            <li><a href="#" class="sidebar-link flex items-center py-3 px-5 text-gray-600 hover:bg-gray-100 transition-colors">
                <svg class="w-6 h-6 mr-3" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor"><path stroke-linecap="round" stroke-linejoin="round" d="M9 12h.01M15 12h.01M10.5 16.5h3m-6.38-3.386l-1.591-1.592a2.25 2.25 0 010-3.182l1.591-1.592L9 6.5l1.518-1.518a2.25 2.25 0 013.182 0l1.592 1.591L15 9.5l-1.518 1.518a2.25 2.25 0 01-3.182 0L9 12.5l-1.88-1.88z" /></svg>
                퀘스트
            </a></li>
            <li><a href="#" class="sidebar-link flex items-center py-3 px-5 text-gray-600 hover:bg-gray-100 transition-colors">
                <svg class="w-6 h-6 mr-3" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor"><path stroke-linecap="round" stroke-linejoin="round" d="M11.48 3.499a.562.562 0 011.04 0l2.125 5.111a.563.563 0 00.475.31h5.418a.562.562 0 01.321.988l-4.204 3.055a.563.563 0 00-.182.557l1.528 4.97a.562.562 0 01-.82.622l-4.42-3.232a.563.563 0 00-.664 0l-4.42 3.232a.562.562 0 01-.82-.622l1.528-4.97a.563.563 0 00-.182-.557l-4.204-3.055a.562.562 0 01.321-.988h5.418a.563.563 0 00.475-.31L11.48 3.5z" /></svg>
                생활스킬
            </a></li>
            <li><a href="#" class="sidebar-link flex items-center py-3 px-5 text-gray-600 hover:bg-gray-100 transition-colors">
                <svg class="w-6 h-6 mr-3" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor"><path stroke-linecap="round" stroke-linejoin="round" d="M15.75 6a3.75 3.75 0 11-7.5 0 3.75 3.75 0 017.5 0zM4.501 20.118a7.5 7.5 0 0114.998 0A17.933 17.933 0 0112 21.75c-2.676 0-5.216-.584-7.499-1.632z" /></svg>
                크래프팅
            </a></li>
            <!-- 활성화된 현재 페이지 -->
            <li><a href="#" class="sidebar-link active flex items-center py-3 px-5">
                <svg class="w-6 h-6 mr-3" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20" fill="currentColor"><path fill-rule="evenodd" d="M10 9a3 3 0 100-6 3 3 0 000 6zm-7 9a7 7 0 1114 0H3z" clip-rule="evenodd" /></svg>
                캐릭터 관리
            </a></li>
            <li><a href="#" class="sidebar-link flex items-center py-3 px-5 text-gray-600 hover:bg-gray-100 transition-colors">
                <svg class="w-6 h-6 mr-3" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor"><path stroke-linecap="round" stroke-linejoin="round" d="M9 12.75L11.25 15 15 9.75m-3-7.036A11.959 11.959 0 013.598 6 11.99 11.99 0 003 9.749c0 5.592 3.824 10.29 9 11.622 5.176-1.332 9-6.03 9-11.622 0-1.31-.21-2.571-.598-3.751h-.152c-3.196 0-6.1-1.248-8.25-3.286zm0 13.036h.008v.016h-.008v-.016z" /></svg>
                캐릭터 장비
            </a></li>
            <li><a href="#" class="sidebar-link flex items-center py-3 px-5 text-gray-600 hover:bg-gray-100 transition-colors">
                <svg class="w-6 h-6 mr-3" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor"><path stroke-linecap="round" stroke-linejoin="round" d="M11.25 11.25l.041-.02a.75.75 0 011.063.852l-.708 2.836a.75.75 0 001.063.853l.041-.021M21 12a9 9 0 11-18 0 9 9 0 0118 0zm-9-3.75h.008v.008H12V8.25z" /></svg>
                프로젝트 소개
            </a></li>
        </ul>
    </nav>
</aside>
